@import 'tailwindcss';

@theme {
  --color-teal: #2c6e68;
  --color-amber: #e0a458;
  --color-paper: #dbd4ba; /*#F7F5EE*/
  --color-ink: #20302e;
  --color-coral: #e0765a;

  --font-heading:
    'Fraunces Variable', 'Fraunces', serif;
  --font-body:
    'Karla Variable', 'Karla', sans-serif;
}
